html,
body {
    height: 100%;
    height: 100%;
    border-color: black;
    border-width: thin;
    border-style: solid;

}

#app {
    height: 100%;
}

#contact-list-container {
    border-color: grey;
    border-width: thin;
    border-style: solid;
    height: 100%;
    width: 30%;
}